.meter-reading-header {
    margin-top: 50px;
}

.btn-upload-container {
    margin-top: 50px;
    padding-left: 50%;
    margin-bottom: 10px;
}

.btn-create-container {
    margin-top: 10px;
    padding-left: 60%;
}